.container {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.sidebar {
  width: var(--sidebar-width);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  height: 100vh;
  --logo-height: 90px;
}
.sidebar > ul {
  padding: 0.5rem;
  list-style: none;
  height: calc(100% - var(--logo-height));
  
}

/* .sidebar>ul>li:last-child {
  margin: 0;
  margin-top: auto;

} */

.nav-item {
    font-size: 1.2rem;
    /* padding: 1rem; */
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 600;
    /* border-bottom: 1px solid #666; */
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-item > i {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-item:not(.nav-active):hover {
  background-color: rgb(5, 175, 161);
  color: #fff;
}
.nav-active {
  color: #fff;
  background-color: var(--main-color);
}
/* .logo {
    height: auto;
    
} */

.logo > img {
  width: 100%;
  height: var(--logo-height);
}

main {
  margin-left: var(--sidebar-width);
  padding-left: 1rem;
  width: calc(100% - var(--sidebar-width));
  overflow-x: hidden;
  /* overflow-y: auto; */
  position: relative;
  height: 100vh;
}

.page {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.5s ease;
  display: none;
  padding-left: 1rem;
  padding-top: 1rem;

}

.page-view {
  display: block;
  left: 0;
}



.view {
  --view-width: calc(100vw - var(--sidebar-width)-1rem);
  /*  */
  --view-height: calc(100vh - 100px);
  box-sizing: border-box;
  height: var(--view-height);
  width: var(--view-width);
  overflow: auto; 
  margin: 0 auto;
  /* display: flex;- 
  justify-content: center;
  align-items: center; */
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  outline:2px solid var(--main-color);
}

.view::-webkit-scrollbar {
  display: none;
}

.board {
  --board_w: fit-content;
  width: var(--board_w);
  display: grid;
  position: relative; 
  gap: 0;
  margin: 0 auto;
  /* background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);     */
  background-color: #ddd;
}

.brick {
  --b_w: 50px;
  width: var(--b_w);
  height: var(--b_w);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #ddd;
}
.plot {
  --plot-bg: rgb(5, 175, 161);
  background-color: var(--plot-bg);
  overflow: hidden;
}
.plot--decorator {
  --plot-bg: rgb(4, 218, 171);
}

.brick:hover {
  border:1px solid rgb(0, 175, 123);
  background-color: rgb(0, 175, 123);
}
.path {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.path:hover {
  outline: 2px solid rgb(0, 175, 123);
}
.table-admin-wraper {
  padding: 0;
  border-radius: .5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 100%;
  overflow: auto;
}
.table-name {
  padding: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.table-footer {
  padding: 0.8rem;
}
.table-admin {
    width: 100%;
    border-collapse: collapse;
}
.table-admin tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .5s ease;

}
.table-admin th {
  padding: 1rem;
  text-align: left;
  text-transform: uppercase;
}

.table-admin td {
  padding: 0.8rem;
  font-size: 1.2rem;
  /* border: 1px solid #000; */
}

.table-admin th:first-child {
  padding: 1rem;
  min-width: 90px;
}

.table-admin tbody tr:hover {
  cursor: pointer;
  background-color: rgba(13, 187, 164, 0.336);
  /* color: #f1f1f1; */
}

.media-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  
}
.media-form-header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  position: relative;
}

@media screen and (max-width: 1279px) {
    .sidebar {
        --logo-height: 60px;
    }
    .nav-item {
        flex-direction: column;
        padding: 0.5rem 0.2rem;
    }

    .nav-item i {
      padding:0.2rem;
      font-size: 2rem; 
    }
    .nav-item span {
      font-size: 0.875rem;
    }
}

