
.view {
    --view-width: 100vw;
    --view-height: 100vh;
    box-sizing: border-box;
    height: var(--view-height);
    width: var(--view-width);
    margin: 0 auto;
    /* border: 1px solid blue; */
   
}

.board {
    max-height: 100%;
    width: 100%;
    background: rgba(100,100,100,0.5); 
    display: grid;
    gap: 0;
    overflow: auto;
    grid-template-columns: repeat(60, 1fr);
    /* justify-content: center; */
    padding: 0;
    margin: 0;
    
}


.board::-webkit-scrollbar {
    /* display: none; */
}

.brick {
    --from-col: auto;
    --to-col: calc(var(--from-col) + var(--w));
    --from-row: auto;
    --to-row: calc(var(--from-row) + var(--w));
    --w: 8;
    --width: 40px;
    grid-column: auto;
    grid-row: auto;
    border: 1px solid #000;
    /* border-radius: 6px; */
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow:hidden; */
    /* transition: all 0.1s ease; */

}

.plot {
    background-color: blue;
}
.path {
    border: 2px solid rgb(1, 107, 110);
    border-radius: 50%/25%/30%;
    background-color: rgb(0, 151, 211);
}


.present-item {
    width: 100%;
    height: 100%;
    position: relative;

}

.simple-slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.simple-slide-item {
    position: absolute;
    top:  0;
    left: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.simple-slide-item-active {
    opacity: 1;
}
.present-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.present-item-name {
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.present-info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

}

/* .present-item:hover .btn-detail{
    visibility: visible;

} */
.btn-detail {
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-detail:hover {
    background-color: var(--hover-bg);
}
.btn-detail i{
    padding-right:0.5rem;

}