
.view {

    --view-width: 100vw;
    --view-height: 100vh;
    box-sizing: border-box;
    height: var(--view-height);
    width: var(--view-width);
    overflow: auto; 
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    background-color: #2b4162;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.view::-webkit-scrollbar {
    /* display: none; */
    /* background-color: red; */
}

.board {
    --ani-dura: 2s;
    --board-h: 100vh;
    width: fit-content;
    display: grid;
    position: relative; 
    gap: 0;
    margin: auto;
    transition: transform 0.5s ease-in-out;
   
    transform-origin: center bottom;
    animation-duration: var(--ani-dura);
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: welcome;
    animation-delay: 0.5s;
    /* zoom: 0.8; */
}

.brick {
    --b_w: 90px;
    width: var(--b_w);
    height: var(--b_w);
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1;
    /* border: 1px solid #000; */
    /* background-color: transparent;
    animation-name: welcome;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
}

.plot {
    /* background-color:#f1f1f1; */
   
}
.path {
    /* border: 7px solid rgb(86 86 86); */
    /* border-radius: 65% 36% 50% 50% / 44% 81% 46% 68%; */
    background-color: transparent;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../app/bg.png');

}

.simple-slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.simple-slide-item {
    position: absolute;
    top:  0;
    left: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    border-radius: inherit;
    background-color: inherit;
}
.simple-slide-item-active {
    opacity: 1;
}

.present-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    zoom: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    background-color: inherit;

}

.present-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    transition: all 0.5s ease;
}

.present-item-name {
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.present-info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

}

.tooltip {
    --bg: #008966a1;
    --color: rgb(247 255 0);
    position: absolute;
    bottom: 105%;
    left: 50%;
    background-color: var(--bg);
    color: var(--color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: fit-content;
    border-radius: 0.5rem;
    /* border: 2px solid rgb(12, 239, 255); */
    transition: all 0.2s ease-in-out;
    /* animation: rotate 1s infinite; */
    font-size: 1.5rem;
    font-weight: bold;
    transform: translateX(-50%);
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

.tooltip-visited {
    --color: rgb(105 255 3);
}

.tooltip:hover {
    /* --bg: rgb(48, 245, 179); */
    --color: rgb(105 255 3);
}
.tooltip:after {
    content: '';
    transition: all 0.2s ease-in-out;
    border-width: 8px;
    border-style: solid;
    border-color: var(--bg) transparent transparent  transparent;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

svg {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    height:20%;
}

#topLocIcon {
    animation: locationIcon 1s ease-in-out infinite alternate;
}

svg #topLocIcon path{
    padding: 10px;
}
.present-item:hover svg #topLocIcon #Vector_7{
    fill: red  !important;
    fill-opacity:1;
}
.present-item:hover svg #topLocIcon #Vector_6{
    fill: black !important; 
    fill-opacity:1;
}
.image-section {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 3rem;
}

.image-section--even > .image-section__img {
    grid-column: 1 / span 3;
    text-align: left;
}

.image-section--even > .image-section__text{
    grid-column: 4 / span 2;
}

.image-section--odd> .image-section__img {
    grid-column: 3 / span 3;
    
}

.image-section--odd > .image-section__text {
    grid-column:1 / span 2;
    /* grid-row: 1 span 1; */
}



.image-section__img img {
    width: 100%;
    border-radius: 2rem;
    box-shadow: rgba(20, 20, 20, 0.2) 0px 8px 24px;
}
.image-section__text {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

}
.image-section__text__name {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.image-section__text__description {
    margin-top: 1rem;
    height: 12rem;
    /* background-color: rgb(117, 79, 79); */
    flex-grow: 1;
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .image-section {
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-flow: dense */
    }
    .image-section--even > .image-section__img {
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
    }
    
    .image-section--even > .image-section__text{
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
    }
    
    .image-section--odd> .image-section__img {
        grid-column: 1 / span 5;
        
    }
    
    .image-section--odd > .image-section__text {
        grid-column:1 / span 5;
        /* grid-row: 1 span 1; */
    }
    .image-section__text__description {
        height: auto;
    }
}

  /* svg #locationIcon path:hover {
    fill: red !important;
    fill-opacity:1;
  } */
@keyframes locationIcon{
    from {
      transform: translateY(-5%);
    }
    to {
      transform: translateY(5%);
    }
}

.btn-detail {
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-detail:hover {
    background-color: var(--hover-bg);
}
.btn-detail i{
    padding-right:0.5rem;

}

@keyframes rotate {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    10% {
        transform: translateX(-50%) rotate(-15deg);
    }
    20% {
        transform: translateX(-50%) rotate(15deg);
    }
   
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes welcome {
    0% {
        transform: scale(1);
       /* zoom: 1; */
    }
    60% {
       /* zoom: 0.3; */
       transform: scale(0.25)
    }

    70% {
       /* zoom: 0.3; */
        transform: scale(0.25)
    }
    100% {
        transform: scale(1);
        /* zoom: 1; */
    }
}