.bg-red {
    background-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cube-wrapper{
    --width: 200px;
    --deft:calc(var(--width)/2);
    background-color: transparent;
    /* margin-top: calc(0.71 * var(--width)); */
    
    perspective:none;
    width: calc(2*var(--width));
   
    /* box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75); */
}

.cube-title {
    padding: 1rem;
    /* margin-top: 80px; */
    
    background-color: rgb(199 211 217);
    width: 100%;
    height: 75px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(30 31 32 / 50%) 0px 8px 24px;
    color: blue;
    font-size: 1.2rem;

}

.cube-box{
    
    width: var(--width);
    height: var(--width);
    margin: auto;
    transform-style:preserve-3d;
    animation: 10s linear infinite;
    
}

.cube-box img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
  transition: 0.5s;
  object-fit: cover;
  user-select: none;
}


.cube-box img:nth-child(1){
    transform: rotateY(0deg) translateZ(var(--deft));
}

.cube-box img:nth-child(2){
    transform: rotateY(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(3){
    transform: rotateY(180deg) translateZ(var(--deft));
}

.cube-box img:nth-child(4){
    transform: rotateY(-90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(5){
    transform: rotateX(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(6){
    transform: rotateX(-90deg) translateZ(var(--deft));
}



.cube-box:hover{
    --deft:calc(var(--width)*3/4);
    animation-play-state: paused;
    
}

@keyframes loops{
    0%{ transform: rotateX(0deg) rotateY(0deg); }
    50%{ transform: rotateX(0deg) rotateY(-360deg); }
    100%{ transform: rotateX(-360deg) rotateY(-360deg); }
}

@keyframes crazy{
    0%{ transform: rotateX(0deg) rotateY(0deg); }
    100%{ transform: rotateX(360deg) rotateY(360deg); }
}

@media screen and (max-width: 1279px) {
    .cube-wrapper{
        --width: 200px;
        /* --deft:calc(var(--width)/2);
       
        width: calc(2*var(--width)); */
       
        /* box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75); */
    }
        
}
@media screen and (max-width: 767px) {
    .cube-wrapper{
        --width: 100px;
        /* --deft:calc(var(--width)/2);
       
        width: calc(2*var(--width)); */
       
        /* box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75); */
    }
}

.modal {
    --modal-width: 50%;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
   
}

.open-modal {
    display: flex;
    z-index: 99;
}
.modal-header {
    padding: 1rem;
    border-bottom: 1px solid #afafaf;
}

.modal-content {
    background-color: #fff;
    border-radius: 4px;
    width: var(--modal-width);
}

.modal-body {
    padding: 1rem;

}
.modal-footer {
    border-top: 1px solid #afafaf;
    padding: 0.5rem 1rem;
}
.modal-small {
    --modal-width: 25%;

}
.flex {
    display: flex;

}
.space-between {
    justify-content: space-between;
}
.child_setparate>*:not(:last-child) {
    margin-bottom: 1rem;
}
.btn {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
    font-weight: 550;
    border-radius: 4px;
    /* font-size: 1.2rem; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
  }
  .btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .btn-save {
    background-color: var(--main-color);
    color: #fff;
    
  }
  
  .btn-save:hover {
    background-color: var(--hover-bg);
    
  }
  .btn-light {
    background-color: #f1f1f1;
    color: #000;
  }
  
  .btn-light:hover {
    background-color: #fafafa;
    color: #000;
  }

  .btn-active {
      background-color: var(--main-color);
      color: #fff;
  }

  .btn-active:hover{
    background-color: var(--hover-bg);
    color: #fff;
} 