:root {
    --sidebar-width: 250px;
    --main-color: rgb(0, 136, 102);
    --hover-bg: rgba(0, 114, 85, 1);
    --hover-color: rgb(17, 112, 88);
    --min-zoom-rate: 0.28;
}

@media screen and (max-width: 1279px) {
    :root {
        --sidebar-width: 90px;
    }
}
