.actions {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0.3rem 0.5rem;
    padding-left: 0;
    /* min-width: calc(800px - var(--sidebar-width) - 1rem); */
}
  

  .left >div:not(:last-child) {
    max-width: 150px;
    margin-right: 1rem;
  }
  
  .right>button:not(:last-child) {
   
    margin-right: 1rem;
  }

#map h1 {
    text-align: center;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #46c493; */
    max-width: 40%;
    margin: auto;
}

#map .left-field {
    display: flex;
    justify-content: space-between;
}

.left-field>div {
    max-width: 150px;
    margin-right: 1rem;
}

#map .right {
    /* display: flex;
    background-color: grey; */
    border: 2px solid #46c493;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

#map .container-right {
    display: flex;
    /* background-color: rgb(228, 222, 222); */
    padding: 0.6rem;
}


#map .left-btn {
    display: flex;
    /* justify-content: space-around; */
}
#map .left-btn >div {
    height: fit-content;
}

#toggleDrawPathMode-wraper {
    margin-left: 1rem;
    position: relative;

}
#path-choice-list {
    --bg: #fff;
    --w: fit-content;
    --height: auto;
    width: var(--w);
    /* border-radius: 0.5rem; */
    position: absolute;
    top: 130%;
    left: 0;
    display: none;
    background-color: var(--bg);
    z-index: 3;
    box-shadow: rgba(7, 7, 7, 0.2) 0px 8px 24px;
    padding: 0.5rem 0.5rem;
    border: 2px solid #46c493;
}

#path-choice-list::after {
    content: '';
    transition: all 0.2s ease-in-out;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #46c493  transparent;
    position: absolute;
    left: 5%;
    bottom: 100%;
    transform: translateX(-50%);
}

.path-active {
    outline: 4px solid rgb(0, 209, 181)
}

.path-items {
    --col : 11;
    --w: fit-content;
    --height: auto;
    width: var(--w);
    height: auto;
    display: grid;
    /* overflow-x: auto; */
    grid-template-columns: repeat(var(--col), 1fr);
    gap: 10px;
}

.path-item {
    --w: 40px;
    width: var(--w);
    height: var(--w);
    /* border-radius: 4px; */
}

.path-item img{
    width: 100%;
    height: 100%;
    cursor:pointer;
    /* border-radius: 4px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease-in-out;
}
.path-item:hover{
    outline: 4px solid rgb(0, 219, 208);
}

.add-path-item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 68, 70, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 1024px) {
    .left-field {
        flex-direction: column;
    }
    .left-field>*:not(:last-child) {
        margin-bottom: 1rem;
    }
    .left-btn {
        flex-direction: column;
    }
    #toggleDrawPathMode-wraper {
        margin-left: 0;
        margin-top: 1rem;
    }
   
}

@media screen and (max-width: 1279px) {
    .path-items {
        --col : 5;
    }
}

@media screen and (max-width: 767px) {
   
    #toggleDrawPathMode-wraper {
        margin-left: 0;
        margin-top: 1rem;
    }
    #map .right {
        padding-left: 0;
        padding-right: 0;
    }
   
    .path-items {
        --col : 3;
    }
}
