.actions {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0.3rem 0.5rem;
    padding-left: 0;
}
  

  .left >div:not(:last-child) {
    max-width: 150px;
    margin-right: 1rem;
  }
  
  .right>button:not(:last-child) {
   
    margin-right: 1rem;
  }

#map h1 {
    text-align: center;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #46c493; */
    max-width: 40%;
    margin: auto;
}

#map .left-field {
    display: flex;
    justify-content: space-between;
}

.left-field>div {
    max-width: 150px;
    margin-right: 1rem;
}

#map .right {
    /* display: flex;
    background-color: grey; */
    border: 2px solid #46c493;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

#map .container-right {
    display: flex;
    /* background-color: rgb(228, 222, 222); */
    padding: 0.6rem;
}


#map .left-btn {
    display: flex;
    /* justify-content: space-around; */
}
#map .left-btn >div {
    height: fit-content;
}

#toggleDrawPathMode-wraper {
    margin-left: 1rem;
    position: relative;

}
#path-choice-list {
    --bg: #fff;

    width: 400px;
    border-radius: 0.5rem;
    position: absolute;
    top: 130%;
    left: 0;
    display: none;
    background-color: var(--bg);
    z-index: 3;
    box-shadow: rgba(49, 49, 49, 0.2) 0px 8px 24px;
    padding: 1rem;
}

#path-choice-list::after {
    content: '';
    transition: all 0.2s ease-in-out;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #000  transparent;
    position: absolute;
    left: 20%;
    bottom: 100%;
    transform: translateX(-50%);
}

/* #path-choice-list {
    position: absolute;
    padding: 0.5rem;
   
    max-width: 500px;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 100;
    border-radius:10px;
} */

#path-choice-list .path-items {
    --col : 10;
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    justify-content: space-between;
    gap: 1vw;
    max-height:2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 7px;
}


.path-items .path-item img{
    width:20px;
    height:20px;
    cursor:pointer;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: all 0.2s ease-in-out;
}
.path-items .path-item:hover img{
    width:20px;
    height:20px;
    cursor:pointer;
    border-radius: 10%;
    box-shadow: rgba(171, 214, 192, 0.16) 0px 1px 4px, rgb(139, 213, 133) 0px 0px 0px 3px;
}

.path-items .path-item {
}
.path-items .add-path-item{
    cursor: pointer;
    border: 1px solid black;    
    flex: 1 0 21%;
    margin: 1%;
    display:block;
    width:20px;
    height:20px;
    text-align:center;
}
.add-path-item{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 40%;
    text-align:center;
}
.path-items{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
}
.path-active {
    outline:4px solid #f1c40f;
}

@media screen and (max-width: 1024px) {
    .left-field {
        flex-direction: column;
    }
    .left-field>*:not(:last-child) {
        margin-bottom: 1rem;
    }
    .left-btn {
        flex-direction: column;
    }
    #toggleDrawPathMode-wraper {
        margin-left: 0;
        margin-top: 1rem;
    }
   
}

@media screen and (max-width: 768px) {
   
    #toggleDrawPathMode-wraper {
        margin-left: 0;
        margin-top: 1rem;
    }
    #map .right {
        padding-left: 0;
        padding-right: 0;
    }
}