.game-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-size: cover;
    border: 1px dotted #ccc;
    padding: 2rem;
    margin: 15px auto;
    font-family: 'Montserrat', serif;
}

.game-details-container {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#display-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-question-container img {
    width: 20rem;
}

.game-details-container h1 {
    font-size: 1.4rem;
}

.game-question-container {
    width: 80%;
    /* height: 8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.game-question-container h1 {
    font-size: 1.3rem;
    text-align: center;
    padding: 3px;
    margin: 10px;
}

.game-options-container {
    width: 80%;
    /* height: 12rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container label img {
    display: block;
}

.game-options-container div {
    /* width: 40%; */
    height: 100%;
    /* border: 2px solid darkgray;
    border-radius: 20px; */
    overflow: hidden;
}

.answer {
    /* width: 15rem; */
    /* margin: 0 0 rem 0 .7rem; */
    /* min-height: 3.5rem; */
    /* align-items: flex-start; */
}

.answer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 0.5px;
    /* padding: .4rem .5rem .4rem; */
    text-align: center;
    font-family: Open Sans;
}

.answer img {
    margin: auto;
    max-height: 5rem;
}

.answer input[type=radio] {
    display: none;
}

.answer label {
    height: 100%;
    width: 100%;
}

.answer input[type=radio]+label {
    cursor: pointer;
    float: left;
    font-size: 1.1rem;
    font-weight: 100;
    color: black;
    width: 100%;
    text-align: start;
    padding: 0.5rem .5rem 0.5rem 1rem;
    background: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.answer input[type=radio]+label:hover {
    background: rgba(31, 177, 155, 0.75);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.answer input[type=radio].none_hover+label:hover {
    background: white;
}

.answer input[type=radio].none_click:checked+label {
    background: white;
    color: black;
    box-shadow: none;
    outline: none;
}

.answer input[type=radio]:checked+label {
    background: var(--main-color);
    color: white;
    box-shadow: rgb(30, 186, 157) 0px 0px 150px;
    outline: solid rgb(0 136 102);
}

.answer input[type=radio]:checked~label[for=" "] {
    background: rgba(99, 186, 168, 0.25);
}

.answer span {
    margin-bottom: 1rem;
}


/* answer-correct */

.answer-correct {
    background-color: #10c018;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    animation: blinkingText 2s infinite;
}

.answer-incorrect {
    background-color: red;
}

@keyframes blinkingText {
    0% {
        background-color: #10c018;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: #10c018;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: #10c018;
    }
}

.submit-button-container {
    margin-top: 2rem;
    width: 16rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.submit-button-container button {
    background-color: rgb(33, 186, 158);
    transition: .5s ease-in-out;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s ease-in-out;
    transform: scale(0);
}
.submit-button-container p {
    font-size: 1.2rem;
    transition: .5s ease-in-out;
    transform: scale(0);
    text-align: center;
}


/* .submit-button-container button {
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
} */

.submit-button-container button:hover {
    background-color: var(--main-color);
    font-size: 1.4rem;
}

.grid-img {
    display: grid;
    --col: 2;
    grid-template-columns: repeat(var(--col), 1fr);
    /* width: fit-content; */
    width: 100%;
    margin-bottom: 2rem;
    /* max-width: 500px; */
}
#gamePopup {
    max-height: calc(90vh);
    overflow: auto;
}
.img_cell {
    --url: '';
    /* background-color: transparent; */
    border: 0.1px solid #000;
    padding-top: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #afafaf; */
}
.img_cell span{
    background-color: white;
    border-radius: 100%;
    padding: 0 0.3rem;
}

.game-des {
    text-align: left;
    margin: 1rem;
}

.key_input input[type=text] {
    width: 80%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .5rem
}

.key_input .lable {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.2rem;
}

.key_input button {
    width: 5rem;
    height: 2rem;
    background-color: rgb(230 166 105);
    color: rgb(0, 0, 0);
    font: inherit;
    font-size: 1.25rem;
    padding: 0.3rem;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.key_input button:hover {
    background-color: rgb(214, 116, 23);
    color: rgb(255, 255, 255);
}

.win-text{
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}
/* MODALCSS */
 
.modalGame {
    display: none;
    position: absolute;
    z-index: 100;
    width: 24rem;
    top: calc(100% + 5px);
    height: 30rem;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.5s ease;
    animation-name: popup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
 }
  
 .modalGame-left {
    transform-origin: top left;
    /* top: calc(100% + 5px); */
 }
  
 .modalGame-left:after {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #ffebd8;
    position: absolute;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: -5px;
    left: 5%;
 }
  
 .modalGame-right {
    transform-origin: top right;
   
 }
  
 .modalGame-right:after {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #ffebd8;
    position: absolute;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: -5px;
    right: 5%;
 }
 

/* Modal Content */

.modalGame-content {
    border-radius: 20px;
    text-align: center;
    /* background-color: #d6a622; */
    /* background: url(https://i.pinimg.com/564x/90/5b/e7/905be7cb2e0f3b3e728ae57fe233f86f.jpg); */
    background-size: cover;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 100%;
    top: 20rem;
    /* -webkit-animation-name: fadeIn;
 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s; */
}


/* The Close Button */

.close {
    color: rgb(0 136 102);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.guide {
    color: rgb(0 136 102);
    float: left;
    width: 2.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: 3px solid #555;
    border-radius: 50%;
}

.guide:hover,
.guide:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.guide-popup {
    visibility: hidden;
    width: 90%;
    height: 80%;
    background-color: #fdd891;
    /* color: #fff; */
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 1.3rem;
    top: 3.5rem;
    /* z-index: 130; */
    /* bottom: 125%;
    left: 50%;
    margin-left: -80px; */
}

.guide-popup::after {
    content: "";
    position: absolute;
    top: -0.4rem;
    left: 0.3rem;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fdd891 #fdd891;
}

.show-guidePopup {
    visibility: visible;
    /* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; */
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* win-game */

.win-game,
.lose-game {
    position: absolute;
    z-index: 101;
    width: 80%;
    height: auto;
    top: 30%;
    left: 10%;
    display: none;
    transition: transform 0.5s ease;
    animation-name: popup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.win-game {
    cursor: pointer;
}

.win-game img,
.lose-game img {
    width: 100%;
}

.win-game p,
.lose-game {
    font-size: large;
    font-weight: 750;
    font-family: system-ui;
    background-color: #adf04c;
}


/***


/* bubble-chat */



/* Popup container - can be anything you want */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    display: none;
    /* visibility: hidden; */
    width: 20rem;
    background-color: #f2f2f2;
    /* color: #fff; */
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 10;
    top: 1px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    /* width: 0;
    height: 0; */
    border: 15px solid;
    border-left: 10px solid #555;
    border-right: 10px solid transparent;
    border-top: 10px solid #555;
    border-bottom: 10px solid transparent;
    top: 0;
}


/* Toggle this class - hide and show the popup */

.popup .show-left {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-left: 40px;
}

.popup .show-right {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-left: -190px;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 1980px) {
    .modalGame {
        width: 30rem;
        max-height: calc(100vh - 70px);
        max-width: 100vw;
    }
 }
  
 @media only screen and (max-width: 767px) {
    .modalGame {
        width: 21rem;
    }
 }
  
 #game-mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparent;
    z-index: 100000;
    pointer-events: none;
 }
 /* bubble-chat */
 #game-board {
    position: absolute;
    top: 10px;
    left: 20px;
    width: fit-content;
    pointer-events: auto;
 }
 #bubble-chat {
    /* background-image: url('https://image.winudf.com/v2/image/bW9uaS5ndWVzc19pY29uXzBfYzk3MTY5YTQ/icon.png?w=&fakeurl=1'); */
    visibility: hidden;
    z-index: 100;
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    box-shadow: #000000b8 0px 0px 12px;
    pointer-events: auto;
 }
 
